#login
    .box
        h1
            font-weight: 700
            font-size: 40px
            margin: 40px 20px 20px 20px
        input
            border: 5px solid #2d68b4
        .btn
            background-color: #2a70cc            