#login
    .box
        h1
            font-weight: 700
            font-size: 40px
            margin: 70px 0 0 44px
        input
            border: 3px solid #2d68b4
            margin: 31px 0 31px 0
            height: 44px
            display: block
        .btn
            background-color: #ae97da         
            margin-left: 87px
            color: #ffff
            width: 85px
    .minibox
        h3
            width: 300px
            border: 3px solid #2427b9
            font-size: 30px
            color: #0000
            margin: 50px